
PORT=
AWS_REGION=
AWS_SDK_LOAD_CONFIG=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
  
MONGODB_URI=

SAP_USERNAME=
SAP_PASSWORD=

# Development
GET_SAP_PDF=
GET_SAP_PO_DATA=
GR_PRACKING=
#CHG
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
BASE_URL=
AZURE_ACCOUNT_KEY=
AZURE_ACCOUNT_NAME=
AZURE_CONTAINER_NAME=
 
REDIS_HOST=
REDIS_PORT=

REDIS_USERNAME=

# Delivery Mail Time Configuration
#HH:MM:SS format in 24-hour time
MAIL_TIMEZONE=Asia/Kolkata
MAIL_START_TIME=18:45:00
MAIL_END_TIME=18:00:00
